{{> header }}

<div class="" style="height: 75vh; width: 100vw;">
  <div class="m-5">
    <div class="text-right">
      <a href="/{{developmentId}}/houses/form" class="btn btn-primary">Añadir casa</a>
    </div>
    <table class="table table-bordered my-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">ubication</th>
          <th scope="col">neighborhood</th>
          <th scope="col">mts</th>
          <th scope="col">rooms</th>
          <th scope="col">baths</th>
          <th scope="col">tokens</th>
        </tr>
      </thead>
      <tbody>
        {{#each houses}}
        <tr>
          <th scope="row">{{this.id}}</th>
          <td>{{this.name}}</td>
          <td>{{this.ubication}}</td>
          <td>{{this.neighborhood}}</td>
          <td>{{this.mts}}</td>
          <td>{{this.rooms}}</td>
          <td>{{this.baths}}</td>
          <td>{{this.tokens}}</td>

          <td style="display: flex;">
            
            <a href="/{{developmentId}}/houses/form?id={{this.id}}" class="btn btn-primary mx-1"><i class="bi bi-pencil-square"></i></a>

            <form action="/houses/delete/{{this.id}}" method="post">
              <button type="submit" class="btn btn-danger mx-1"><i class="bi bi-trash"></i></button>
            </form>

          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</div>


{{> footer }}